<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro de Usuário</title>
        <style>
            * {
                margin: 0;
                padding: 0;
            }

            body {
                height: 100vh;
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(to right, #32CD32, #7CFC00);
            }

            .container {
                height: 100px;
                padding: 20px;
                background-color: #ADFF2F;
                border-radius: 5px;
                box-shadow: 8px 8px 10px rgba(0, 115, 0, 0.6);
            }

            h1 {
                color: #2E8B57;
            }
            
            button {
                margin-top: 5px;

                background-color: #4CAF50;
                color: white;
                padding: 4px 4px;
                text-align: center;
                cursor: pointer;
                border: none;
                border-radius: 5px;
            }
        </style>

    </head>
    <body>
        <div class="container">
            <h1>Registro de Usuário</h1>
            
            <form action="/registro" method="POST">
                <input type="text" name="username" placeholder="Nome de usuário" required>
                <input type="password" name="password" placeholder="Senha" required>
                <button type="submit">Registrar</button>
            </form> <br>

            <a href="/login">Já possui uma conta? Faça login aqui</a>
        </div>
    </body>
</html>