<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bem-vindo</title>

        <style>
            * {
                margin: 0;
                padding: 0;
            }

            body {
                height: 100vh;
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(to right, #32CD32, #7CFC00);
            }

            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: auto;
                padding: 20px;
                background-color: #ADFF2F;
                border-radius: 5px;
                box-shadow: 8px 8px 10px rgba(0, 115, 0, 0.6);
            }

            h1, p {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #2E8B57;
            }

            p {
                margin-top: 8px;
                margin-bottom: 8px;
            }

            textarea {
                background-color: #BCEE68;
            }
            
            button {
                width: 100%;
                font-size: 15px;
                font-weight: bold;
                margin-top: 5px;

                background-color: #4CAF50;
                color: white;
                padding: 4px 4px;
                text-align: center;
                cursor: pointer;
                border: none;
                border-radius: 5px;
            }
        </style>
    </head>
    <body>


        <div class="container">
            <h1>Token Gerado</h1>
            <form action="/descriptografando-token" method=POST>
                <textarea id="token" name="token" rows="5" cols="45"> {{ token }}</textarea> <br>    
                <button type="submit">Validar Token</button>
            </form>
        </div>

        <script>
            window.addEventListener('load', () => {
                let textarea = document.querySelector('textarea');
                textarea.value = textarea.value.trim();
            });
        </script>
    </body>
</html>
